body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

#titulo-principal{
    font-size: 36px;
    font-weight: bold;
    color: #1d868a;
    text-align: center;
}

.form-section{
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

.input-filed{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    width: calc(100% - 20px);
    box-sizing: border-box;
}

.btn{
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.btn:hover{
    background-color: #0056b3;
}
